<section>
  <div class="container">
    <h2 class="title">Страница "о нас"</h2>
    <p class="descr">Это просто обычная страница на astro.</p>
    <a href="/" class="btn-s">На главную</a>
  </div>
</section>