---
import Img from "@/ui/Img.astro";
import imgSrc from "@img/img.jpg";
---

<section>
  <div class="container">
    <h2>Главная страница</h2>
    <p>Это главная страница, которая создана на astro!!!</p>
    <button data-fancybox data-src="#modal-test">Вызвать модалку</button>
    <Img src={imgSrc} />
    
  </div>
</section>
