---
import "../styles/main.scss";
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="ru">
  <Head />
  <body>
    <slot />
  </body>
  <script src="/scripts/main.js" is:inline></script>
</html>
